@media only screen and (max-width: 600px) {
    body {
        background-image: none;
        background-attachment: initial;
    }
    .aside {
        background-color: #243447;
        width: 98%;
        position: unset;
        font-size: 10px;
        padding: 1%;
        margin-bottom: 1em;
    }
    .aside img {
        width: 100px;
    }
    .main-content {
        padding: 0;
    }
    .main-content #main {
    background-image: url("../images/city.png");
    background-size: cover;
    padding: 20px;
    }
    .main-content section {
        min-height: unset;
    }
    .main-content section h1 {
        font-size: 30px;
    }
    .main-content section p {
        font-size: 20px;
    }
    .main-content section a {
        padding: 4px;
    }
    /* skills styling */
    .skills .skills-content {
        width: 100%;
        margin: 5em 0;
        margin-bottom: 2em;
    }
    .skills .skills-content h1 {
        font-size: 18px;
        margin-left: 2em;
    }
    .skills .skills-content p {
        font-size: 14px;
        margin-left: 2em;
        margin-bottom: 0;
    }
    .skills .skills-content .section-title .skill-bar {
        margin: 0;
        width: 100%;
        border-radius: 5px;
    }
    .skills .skills-content .section-title .bars p {
        font-size: 12px;
        padding-top: 1em;
        margin: 0 0.5em;
    }
    .skills .skills-content .section-title .bars {
        font-size: 9px;
        margin: 3em;
    }
    /* projects styling */
    .projects .projects-content h1 {
        font-size: 18px;
    }
    .projects .projects-content p {
        font-size: 14px;
    }
    .projects .projects-content h2 {
        font-size: 16px;
    }
    .projects .projects-content .webpage-main {
        width: 100%;
        margin-bottom: 0;
        float: none;
    }
    .projects .projects-content .webpage img { 
        width: 250px;
    }
    /* techngologies used */
    .technologies {
        margin: 0.5em;
        font-size: 11px;
    }
    .technologies span {
        margin-bottom: 1em;
    }
    /* contacts styling */
    .contacts .contacts-content h1 {
        font-size: 18px;
    }
    .contacts .contacts-content p {
        font-size: 14px;
    }
}
