@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Helvetica, sans-serif;
    color: #fff;
    line-height: 1.5;
    background-image: url("../images/city.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: contain;
}
body a {
    color: #fff;
}
body a:hover {
    opacity: 60%;
}
body hr {
    font-weight: lighter;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-weight: 400;
}

/* left side styling */
.aside {
    width: 300px;
    background-color: #2d545e99 /* #8d021f99 */;
    position: fixed;
    height: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
}
.aside .profile img {
    border-radius: 50%;
    display: block;
    margin: auto;
    border:  5px solid #fff;
    -webkit-box-shadow: 0 0 10px #000;
    filter: grayscale(100%);
    box-shadow: 0 0 10px #000;
}
.aside ul {
    list-style-type: none;
    margin: 3em;
}
.aside ul li {
    margin: 0.5em;
}
.aside .icons {
    margin: 5em 0 0 2.5em;
}
.aside .icons a {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 20px;
}
.aside footer {
    text-transform: initial;
    margin: 1em 3em;
    font-style: italic;
}
/* home styling */
.main-content {
    padding-left: 320px;
}
.main-content section {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
}
.main-content #main {
    width: 80%;
    margin: auto;
    text-shadow: 2px 2px 5px #000;
}
.main-content section h1 {
    font-size: 50px;
}
.main-content section p {
    font-size: 30px;
    margin-bottom: 2em;
    font-weight: lighter;
}
.main-content section a {
    display: block;
    border: 2px solid #fff;
    padding: 8px;
    margin-bottom: 10px;
    width: max-content;
    text-transform: uppercase;
}

/* skills styling section */
.skills {
    width: 100%;
    background-color: #fff;
    color: #2d545e;
}
.skills .skills-content {
    width: 80%;
    margin: auto;
    padding-left: 3em;
}
.skills .skills-content h1 {
    text-transform: uppercase;
    font-size: 36px;
}
.skills .skills-content p {
    font-size: 18px;
}
.skills .skills-content .section-title .skill-bar {
    background-color: silver;
    border-radius: 5px;
    margin: 1em;
    width: 70%;
}
.skills .skills-content .section-title .bars p {
    font-size: 14px;
    font-weight: bold;
    padding-top: 2em;
    margin: 0 1em;
}
.skills .skills-content .section-title .bars {
    font-size: 11px;
    margin: 4em;
}

.skills .skills-content .section-title .bars #html {
    border-radius: 5px;
    background-color: #2d545e;
    width: 70%;
    text-align: right;
}
.skills .skills-content .section-title .bars #css {
    border-radius: 5px;
    background-color: #2d545e;
    width: 60%;
    text-align: right;
}
.skills .skills-content .section-title .bars #javascript {
    border-radius: 5px;
    background-color: #2d545e;
    width: 10%;
    text-align: right;
}
.skills .skills-content .section-title .bars #git {
    border-radius: 5px;
    background-color: #2d545e;
    width: 65%;
    text-align: right;
}
.skills .skills-content .section-title .bars #photoshop {
    border-radius: 5px;
    background-color: #2d545e;
    width: 50%;
    text-align: right;
}

/* projects styling */
.projects {
    width: 100%;
    background-color: #fff;
    color: #2d545e;
}
.projects .code {
  font-size: 12px;
    color: #fff;
    background-color: #084D31;
    margin: 10px;
    padding: 5px;
    text-transform: lowercase;
    float: right;
}
.projects .code:hover {
    color: #084D31;
    background-color: #fff;
    border: 1px solid #084D31;
    opacity: unset;
}
.projects .projects-content {
    padding-left: 3em;
    width: 80%;
    margin: 2em auto;
}
.projects .projects-content h1 {
    text-transform: uppercase;
    font-size: 36px;
}
.projects .projects-content p {
    font-size: 18px;
}
.projects .projects-content .webpage-main {
    width: 50%;
    margin-bottom: 2em;
}
.projects .projects-content .webpage img {
    border: 1px solid #E8E8E8;
}

/* contacts styling */
.contacts {
    width: 100%;
    background-color: #fff;
    color: #2d545e;
    font-weight: lighter;
}
.contacts .contacts-content {
    padding-left: 3em;
    width: 80%;
    margin: 5em auto;
}
.contacts .contacts-content h1 {
    text-transform: uppercase;
    font-size: 36px;
}
.contacts .contacts-content p {
    font-size: 18px;
}
.contacts .contacts-content a {
    color: #2d545e;
    text-transform: initial;
}

.technologies {
    clear: both;
    font-weight:lighter;
    margin: 1em;
    font-size: 13px;
    text-transform: uppercase;
}
.technologies span {
    display: block;
    margin-bottom: 1em;
}
.technologies i {
    font-style: normal;
    background-color: #2d545e;
    color: #fff;
    padding: 5px;
}